@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand');

h1 {
  font-size: 4em;
}

.main {
  padding: 120px 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.article {
  width: 390px;
  float: left;
  background: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  height: 550px;
  border: 5px solid transparent;
  filter: opacity(0.9);
  transform: scale(1);
  img {
    flex-basis: 50%;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  .content {
    flex-basis: 50%;
    order: 1;
    padding: 2%;
    h3 {
      font-size: 1.8em;
      margin: 20px 0;
    }
    p {
      color: rgb(52, 69, 78);
    }
  }
  &:hover {
    border: 5px solid rgba(136, 196, 214, 0.54);
    transform: scale(1.05);
    filter: opacity(1);
  }
}

.ember-view:nth-of-type(1n+4) .article {
  width: 1200px;
  margin-top: 30px;
  transition: all 200ms ease-in-out;
  flex-direction: row;
  height: 100%;
  img {
    flex: 1 50%;
    width: 50%;
    max-height: 280px;
    object-fit: cover;
  }
  .content {
    flex: 1 50%;
    order: 1;
    padding: 2%;
    h3 {
      font-size: 1.8em;
      margin: 20px 0;
    }
  }

}

.ember-view:nth-of-type(2) .article {
  margin: 30px 15px 0 15px;

}
