<nav>
  <ul>
    <li>{{#link-to 'associated-press'}}Associated Press{{/link-to}}</li>
    <li>{{#link-to 'engadget'}}Engadget{{/link-to}}</li>
    <li>{{#link-to 'hacker-news'}}Polygon{{/link-to}}</li>
    <li>{{#link-to 'index'}}IGN{{/link-to}}</li>
    <li>{{#link-to 'time'}}Time{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
